<section class="budget-section" id="budgetSection">
  <div class="container">
    <div class="budget-section__inner">
      <div class="subtitle">rozpočet</div>
      <h3 class="h2 text-primary mb-6">PROJEKT, KTERÝ POSILUJE ROZPOČET</h3>
      <div class="o-content">
        <p>
          Cílem investora je, aby z výstavby sportovně-tréninkové centrum
          Šeberov profitovala celá městská část – a to jak přímo, tak nepřímo
          díky pozitivním dopadům celého projektu. SK Slavia Praha proto nejen
          pokryje veškeré náklady spojené s výstavbou a provozem areálu, ale v
          souladu s rozhodnutím hlavního města Prahy bude 50 % ze stavebního
          platu odvádět přímo do rozpočtu městské části Šeberov. Tato finanční
          podpora může být následně využita na další rozvoj lokality.
        </p>
        <p>
          Na přání zastupitelů MČ Praha – Šeberov navíc v areálu vznikne veřejný
          volnočasový park o rozloze přibližně 40 000 m², který bude připraven
          ve spolupráci s MČ Praha - Šeberov dle přání obyvatel. Tento park bude
          zároveň provozovat a pravidelně udržovat.
        </p>
        <p>
          SK Slavia Praha se rovněž stane odborným garantem a patronem sportovní
          výuky a sportovní přípravy v plánovaném gymnáziu v Šeberově a bude
          aktivně podporovat jeho činnost.
        </p>
      </div>
    </div>
  </div>
  <div class="mb-lg-16 mb-10">
    <div class="container-fluid">
      <div class="budget-section__img">
        <img src="images/content/education-img-1.png" alt="" />
      </div>
      <p
        class="ps-lg-16 ps-6 mt-6 d-block text-secondary-img mb-xl-16 mb-10"
        style="max-width: 840px"
      >
        Vyobrazené fotografie nejsou vizualizace projektu, ale moodboard – výběr
        referenčních inspirací, které přibližují, jak by mohlo vypadat
        sportovně-tréninkové centrum v Šeberově.
      </p>
      <div class="budget-section__img">
        <img src="images/content/education-img-2.png" alt="" />
      </div>
      <p
        class="ps-lg-16 ps-6 mt-6 d-block text-secondary-img"
        style="max-width: 840px"
      >
        Vyobrazené fotografie nejsou vizualizace projektu, ale moodboard – výběr
        referenčních inspirací, které přibližují, jak by mohlo vypadat
        sportovně-tréninkové centrum v Šeberově.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="section__row">
      <div class="section-md">
        <h3 class="h2 text-primary mb-6">PROJEKT PRO CELÝ ŠEBEROV</h3>
        <div class="o-content">
          <p>
            Přidaná hodnota pro každého obyvatele městské části Praha – Šeberov.
            Takový může být areál sportovně-tréninkového centra, který se stane
            živým centrem sportu, odpočinku i komunitního života. Jeho součástí
            bude mimo jiné nový volnočasový park o rozloze přibližně 40 000 m²,
            jehož podoba bude utvářena podle potřeb a přání obyvatel.
          </p>
          <p>
            Areál vybuduje SK Slavia Praha na základě požadavků MČ Praha –
            Šeberov a ve spolupráci s jejími zástupci. V prostoru vznikne také
            veřejná kavárna a restaurace – místo pro přirozená setkávání rodin,
            seniorů i mladších obyvatel. Tyto veřejné prostory budou koncipovány
            podle současných trendů udržitelné výstavby: s důrazem na zeleň,
            vodní prvky, stínění, odpočinkové zóny a příjemné architektonické
            řešení.
          </p>
          <p>
            Díky projektu dojde rovněž ke zlepšení pěší a cyklistické
            infrastruktury. Chodci i cyklisté se budou moci bezpečněji a
            plynuleji pohybovat napříč územím – i mimo areál samotný. Celý areál
            bude přirozeně průchozí, bez bariér, otevřený a přístupný
            veřejnosti. SK
          </p>
          <p>
            Slavia Praha bude zároveň podporovat a aktivně se podílet na
            organizaci místních komunitních událostí – jako jsou dětské dny,
            vánoční besídky, velikonoční akce a další společenské příležitosti.
            Tímto způsobem chce Slavia dlouhodobě přispívat k posílení
            komunitního života v oblasti.
          </p>
        </div>
      </div>
      <div class="section-sm">
        <div class="education-section__items">
          <div class="educationItem">
            <div class="educationItem__img">
              <img
                src="images/content/education-1.png"
                width="72"
                height="62"
                alt=""
              />
            </div>
            <h5 class="h5 text-primary">
              Nový volnočasový park o rozloze <br />
              40 000 m2
            </h5>
          </div>
          <div class="educationItem">
            <div class="educationItem__img">
              <img
                src="images/content/education-3.png"
                width="72"
                height="62"
                alt=""
              />
            </div>
            <h5 class="h5 text-primary">
              v areálu sportovnětréninkového centra
            </h5>
          </div>
          <div class="educationItem">
            <div class="educationItem__img">
              <img
                src="images/content/education-4.png"
                width="72"
                height="62"
                alt=""
              />
            </div>
            <h5 class="h5 text-primary">
              Kvalitní veřejný prostor pro relaxaci a volný čas
            </h5>
          </div>
          <div class="educationItem">
            <div class="educationItem__img">
              <img
                src="images/content/education-5.png"
                width="72"
                height="62"
                alt=""
              />
            </div>
            <h5 class="h5 text-primary">
              Lepší a bezpečnější obecní infrastruktura pro pěší i cyklisty
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="education-section__map">
      <img src="images/content/education-map.png" alt="" />
    </div>
  </div>
  <div class="container">
    <div class="section__row section__row--reverse">
      <div class="section-sm">
        <div class="section-img">
          <img
            loading="lazy"
            width="604"
            height="725"
            srcset="images/content/budget-img.png 320w"
            alt="budget"
          />
        </div>
      </div>
      <div class="section-md">
        <h3 class="h2 text-primary mb-6">
          Projekt, kterého chcete být součástí
        </h3>
        <div class="o-content">
          <p>
            Moderní sportovní, volnočasové, kulturní a společenské zázemí s
            řadou konkrétních výhod pro celý Šeberov. Takový je projekt nového
            sportovně-tréninkového centra Šeberov. Tento projekt přináší celou
            řadu konkrétních benefitů, ze kterých mohou dlouhodobě těžit všichni
            obyvatelé Šeberova – od podpory místního školství a dětského sportu,
            přes nové možnosti pro volný čas až po hmatatelné finanční přínosy
            pro MČ Praha – Šeberov. Naším cílem je zachovat Šeberov jako klidné,
            bezpečné a atraktivní místo pro život.
          </p>
          <p>
            Na projektu společně s MČ Praha – Šeberov pracujeme již od roku
            2022, kdy jsme podepsali Memorandum o spolupráci. Tehdy jsme
            počítali s výstavbou osmi hřišť a s benefity, které odpovídaly
            možnostem tehdejšího akcionáře klubu. V roce 2024 však došlo ke
            změně vlastníka SK Slavia Praha. A právě proto vás nyní žádáme o
            pochopení a podporu pro projekt, který se mírně rozšířil – především
            v oblasti rozvoje sportovního vzdělávání pro mladé dívky a hráče tří
            našich profesionálních týmů. Počet plánovaných hřišť se tak navýšil
            z osmi na jedenáct.
          </p>
          <p>
            Pozemek, na kterém má vyrůst sportovně-tréninkové centrum, není ve
            vlastnictví MČ Praha – Šeberov. Právě proto je tento projekt
            jedinečnou příležitostí, jak jednou provždy rozhodnout o jeho
            využití ve prospěch celé městské části. Při přípravě jsme
            postupovali v souladu s podmínkami žádosti o svěření pozemků, jak
            byly projednány a jednomyslně schváleny zastupitelstvem MČ Praha –
            Šeberov v květnu 2023– včetně záměru vybudovat na daném území
            sportovně-tréninkové centrum SK Slavia Praha.
          </p>
        </div>
        <button
          class="button-primary expand-btn mt-6"
          aria-controls="more-info"
          aria-expanded="false"
        >
          Více informací
          <span class="chev" aria-hidden
            ><img
              src="images/ico/chevron-down.svg"
              width="20"
              height="20"
              alt="down"
          /></span>
        </button>
      </div>
      <div id="more-info" class="section-more o-content" aria-hidden="true">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
          suscipit rerum saepe inventore ipsum officiis quibusdam distinctio
          labore perferendis sapiente illum animi eius ratione dolorum error
          rem, omnis architecto vero? Doloremque voluptate rerum reiciendis in
          ipsa at. Ab labore natus minima nemo quam obcaecati ratione nesciunt
          accusantium. Nulla voluptates voluptate distinctio, doloremque neque
          autem officia soluta tenetur vitae dolor? Nam? Temporibus optio,
          molestiae voluptatum delectus nostrum, numquam ex facilis expedita
          beatae sunt ducimus asperiores? Animi iusto delectus suscipit ducimus,
          repudiandae atque et sunt nulla nihil fuga cupiditate maxime corrupti
          laborum! Beatae quod error exercitationem doloremque eaque. Totam eum
          hic, iure laboriosam doloribus pariatur alias exercitationem, libero
          aliquid repellat error quasi tenetur animi? Sed, iusto iste id numquam
          nemo praesentium! Similique.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio expedita
          officia culpa. Eaque, qui ea! Repudiandae quidem fuga commodi pariatur
          similique ut autem, hic aliquam. Cupiditate cum deserunt mollitia et!
          Odio assumenda, mollitia, perspiciatis laudantium expedita quam rerum
          beatae deserunt sed eligendi nihil officiis dignissimos non id esse
          laborum architecto consectetur voluptatem culpa magni nostrum? Ipsam
          eum fugit quam facere!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          libero, tempora rem eveniet laudantium facilis assumenda, accusamus
          earum deleniti, blanditiis culpa! Repudiandae illo vero obcaecati eum
          quaerat eligendi tempore praesentium? Beatae reiciendis, sapiente
          architecto corrupti debitis in animi quam velit consequatur ipsam
          impedit aspernatur dignissimos unde ipsum corporis. Numquam laborum
          voluptates fuga optio eligendi asperiores veritatis animi quis quas.
          Animi! In delectus cumque ipsum eaque optio iste maiores iusto, sint
          itaque consequuntur dolor numquam eos quia omnis molestias accusamus
          accusantium consequatur distinctio necessitatibus perferendis
          sapiente? Blanditiis natus quo omnis minus. Ea facere a asperiores
          voluptatibus cupiditate nisi sequi nam, ut debitis corrupti? Harum
          illum nihil aliquid eligendi, iure quos voluptas maxime. Omnis quasi
          iste accusamus repellendus unde nostrum cumque molestias? Debitis in,
          commodi perspiciatis itaque fugit molestiae sed provident numquam et
          dolores voluptatem dolore minima sequi necessitatibus beatae non est.
          Et officiis sequi architecto facilis. Exercitationem impedit sit sequi
          vero! Nulla accusamus animi suscipit, tempora necessitatibus
          laboriosam debitis, nobis commodi eveniet beatae cumque magni
          explicabo ex natus voluptatibus totam tenetur. Impedit architecto eos
          error! Incidunt a tenetur architecto facilis tempora. A vero,
          asperiores exercitationem quos porro nostrum obcaecati maiores fugiat
          eos modi cumque facere fuga voluptates inventore corporis aliquam,
          illum reprehenderit ex nesciunt repellendus praesentium. Doloribus
          modi repudiandae unde ullam! Debitis illo libero soluta quasi animi
          error. Animi veritatis hic eius quia nisi harum. Quisquam rerum
          pariatur, suscipit commodi perspiciatis earum dolorum tenetur ipsam
          ipsum similique non officia quidem repellat. Rem et blanditiis enim
          reprehenderit odit labore laboriosam, consequuntur ad nesciunt illum
          soluta dolore quod deserunt? Officia quo sit non, id asperiores dicta
          repudiandae totam architecto in maxime ut quisquam. Rerum corrupti
          assumenda, maiores sint recusandae optio quasi veniam exercitationem
          nam minima laboriosam consectetur possimus totam nobis excepturi
          numquam accusamus laudantium illum commodi autem deserunt dolorem eum
          ullam. Fugit, non.
        </p>
      </div>
    </div>
    <div class="budgetBoard">
      <img src="images/content/budget-img-2.jpg" alt="" />
      <div class="container">
        <div class="budgetBoard__content">
          <h3 class="h2 mb-6 text-primary">
            Sportovně-tréninkové centrum Šeberov
          </h3>
          <p>
            I díky vám může vzniknout unikátní komunální projekt, který bude
            svým významem, přesahem a funkčností sloužit jako vzor nejen u nás,
            ale po celé Evropě.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
