<section class="education-section" id="educationSection">
  <div class="container">
    <div class="section__row align-items-end">
      <div class="section-md">
        <div class="subtitle">VZDĚLÁVÁNÍ</div>
        <h3 class="h2 text-primary mb-6">PROJEKT, KTERÝ POSILUJE VZDĚLÁVÁNÍ</h3>
        <div class="o-content">
          <p>
            Moderní tréninkové centrum v Šeberově by nesloužilo pouze k výchově
            a rozvoji fotbalových talentů, ale stalo se zároveň silným partnerem
            městské části Praha – Šeberov v oblasti vzdělávání. Sportovní areál
            by byl zpřístupněn žákům místní základní školy pro výuku tělesné
            výchovy.
          </p>
          <p>
            Vzniklo by tak kvalitní a inspirativní prostředí, které by dětem
            nabídlo skvělé podmínky pro sportovní činnosti. Spolupráce mezi
            základní školou, gymnáziem a sportovně tréninkovým-centrem by byla
            naprosto unikátní příležitost a zároveň výrazná konkurenční výhoda
            pro všechny děti ze Šeberova.
          </p>
        </div>
      </div>
      <div class="section-sm">
        <div class="education-section__items">
          <div class="educationItem">
            <div class="educationItem__img">
              <img
                src="images/content/education-1.png"
                width="72"
                height="62"
                alt=""
              />
            </div>
            <h5 class="h5 text-primary">
              AREÁL BY SLOUŽIL ŽÁKŮM MÍSTNÍ ZÁKLADNÍ ŠKOLY PRO VÝUKU TĚLESNÉ
              VÝCHOVY
            </h5>
          </div>
          <div class="educationItem">
            <div class="educationItem__img">
              <img
                src="images/content/education-2.png"
                width="72"
                height="62"
                alt=""
              />
            </div>
            <h5 class="h5 text-primary">
              Intenzivní podpora vzdělávání s důrazem na pohyb a zdravý životní
              styl
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="education-section__map">
      <img src="images/content/education-map.png" alt="" />
    </div>
    <div class="education-section__project">
      <img
        srcset="images/content/education-img.jpg"
        width="1440"
        height="344"
        alt="project"
      />
      <div class="h2 text-white">PROJEKT, SE KTERÝM DĚTI SPORTUJÍ</div>
    </div>
    <div
      class="bg-primary text-white o-content px-lg-16 py-sm-10 px-sm-10 px-5 py-1"
    >
      <div class="row g-6">
        <div class="col-lg-6">
          <p>
            Každé dítě by mělo mít možnost sportovat a objevovat svůj talent. I
            když se z něj třeba nestane vrcholový sportovec, může si díky pohybu
            v kolektivu vypěstovat lásku ke sportu a zdravému životnímu stylu.
            Tu pak může předávat dál – jako rodič, učitel nebo třeba trenér.
          </p>
          <p>
            Součástí našeho závazku vůči MČ Praha – Šeberov je založení a
            provozování fotbalového klubu pro místní mládež, odděleného od
            mládeže SK Slavia.
          </p>
        </div>
        <div class="col-lg-6">
          <p>
            Centrum nebude uzavřeným prostorem, ale otevřeným a přátelským
            místem, kde se děti z okolí budou moci aktivně zapojit, rozvíjet své
            schopnosti a nacházet nové přátele.
          </p>
          <p>
            Stejně tak jsme připraveni podpořit i další sporty a volnočasové
            aktivity, aby byl Šeberov místem, které žije nejen na fotbalovém
            hřišti, ale i mimo něj. Jsme připraveni být partnery Šeberova a
            všech jeho obyvatel.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
