<section class="concept-section" id="conceptSection">
  <div class="container">
    <div class="section__row">
      <div class="section-md">
        <div class="subtitle">koncept</div>
        <h3 class="h2 text-primary mb-6">VÁŽENÍ OBYVATELÉ ŠEBEROVA,</h3>
        <div class="o-content">
          <p>
            na následujících stránkách bychom vám rádi představili koncept
            sportovně-tréninkového centra Šeberov.
          </p>
          <p>
            Výstavba nového sportovně-vzdělávacího komplexu SK Slavia Praha na
            území vaší městské části může Šeberovu a jeho okolí přinést řadu
            konkrétních výhod pro zlepšení každodenního života. Moderní areál
            bude sloužit pro výchovu talentované mládeže a zároveň nabídne
            paletu možností pro rozvoj sportu, volného času, kultury i
            komunitního života v Šeberově.
          </p>
          <p>
            Každý nový projekt přináší pro současný stav místa řadu otázek.
            Centrum je připravováno v souladu s nejvyššími standardy moderní
            výstavby. Při její přípravě je kladen důraz na udržitelnost, šetrné
            začlenění do okolní krajiny a zachování maximálního množství zeleně.
            V plánu výstavby jsou také vodní prvky, nové stromořadí, relaxační
            zóny a přímé napojení na cyklostezky a pěší trasy. V rámci projektu
            plánujeme realizovat mimo jiné kavárnu a veřejné prostory, které
            nabídnou příjemné místo k setkávání.
          </p>
          <p>
            Pár vět nedokáže popsat, co vše projekt symbolizuje a přináší, a
            právě proto vám chceme tímto způsobem zcela otevřeně, přehledně
          </p>
          <p>
            a srozumitelně představit, co vše se pod názvem sportovně-tréninkové
            centrum skrývá. Ať už jde o přímou podporu místních škol, dětského
            sportu, nové volnočasové aktivity nebo konkrétní přímé i nepřímé
            finanční přínosy pro městskou část.
          </p>
        </div>
        <button
          class="button-primary expand-btn mt-6"
          aria-controls="more-letter"
          aria-expanded="false"
        >
          Kompletní dopis
          <span class="chev" aria-hidden
            ><img
              src="images/ico/chevron-down.svg"
              width="20"
              height="20"
              alt="down"
          /></span>
        </button>
      </div>
      <div class="section-sm">
        <div class="section-img">
          <img
            loading="lazy"
            width="604"
            height="725"
            srcset="images/content/concept.png 320w"
            alt="concept"
          />
        </div>
      </div>
      <div id="more-letter" class="section-more o-content" aria-hidden="true">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
          suscipit rerum saepe inventore ipsum officiis quibusdam distinctio
          labore perferendis sapiente illum animi eius ratione dolorum error
          rem, omnis architecto vero? Doloremque voluptate rerum reiciendis in
          ipsa at. Ab labore natus minima nemo quam obcaecati ratione nesciunt
          accusantium. Nulla voluptates voluptate distinctio, doloremque neque
          autem officia soluta tenetur vitae dolor? Nam? Temporibus optio,
          molestiae voluptatum delectus nostrum, numquam ex facilis expedita
          beatae sunt ducimus asperiores? Animi iusto delectus suscipit ducimus,
          repudiandae atque et sunt nulla nihil fuga cupiditate maxime corrupti
          laborum! Beatae quod error exercitationem doloremque eaque. Totam eum
          hic, iure laboriosam doloribus pariatur alias exercitationem, libero
          aliquid repellat error quasi tenetur animi? Sed, iusto iste id numquam
          nemo praesentium! Similique.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio expedita
          officia culpa. Eaque, qui ea! Repudiandae quidem fuga commodi pariatur
          similique ut autem, hic aliquam. Cupiditate cum deserunt mollitia et!
          Odio assumenda, mollitia, perspiciatis laudantium expedita quam rerum
          beatae deserunt sed eligendi nihil officiis dignissimos non id esse
          laborum architecto consectetur voluptatem culpa magni nostrum? Ipsam
          eum fugit quam facere!
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          libero, tempora rem eveniet laudantium facilis assumenda, accusamus
          earum deleniti, blanditiis culpa! Repudiandae illo vero obcaecati eum
          quaerat eligendi tempore praesentium? Beatae reiciendis, sapiente
          architecto corrupti debitis in animi quam velit consequatur ipsam
          impedit aspernatur dignissimos unde ipsum corporis. Numquam laborum
          voluptates fuga optio eligendi asperiores veritatis animi quis quas.
          Animi! In delectus cumque ipsum eaque optio iste maiores iusto, sint
          itaque consequuntur dolor numquam eos quia omnis molestias accusamus
          accusantium consequatur distinctio necessitatibus perferendis
          sapiente? Blanditiis natus quo omnis minus. Ea facere a asperiores
          voluptatibus cupiditate nisi sequi nam, ut debitis corrupti? Harum
          illum nihil aliquid eligendi, iure quos voluptas maxime. Omnis quasi
          iste accusamus repellendus unde nostrum cumque molestias? Debitis in,
          commodi perspiciatis itaque fugit molestiae sed provident numquam et
          dolores voluptatem dolore minima sequi necessitatibus beatae non est.
          Et officiis sequi architecto facilis. Exercitationem impedit sit sequi
          vero! Nulla accusamus animi suscipit, tempora necessitatibus
          laboriosam debitis, nobis commodi eveniet beatae cumque magni
          explicabo ex natus voluptatibus totam tenetur. Impedit architecto eos
          error! Incidunt a tenetur architecto facilis tempora. A vero,
          asperiores exercitationem quos porro nostrum obcaecati maiores fugiat
          eos modi cumque facere fuga voluptates inventore corporis aliquam,
          illum reprehenderit ex nesciunt repellendus praesentium. Doloribus
          modi repudiandae unde ullam! Debitis illo libero soluta quasi animi
          error. Animi veritatis hic eius quia nisi harum. Quisquam rerum
          pariatur, suscipit commodi perspiciatis earum dolorum tenetur ipsam
          ipsum similique non officia quidem repellat. Rem et blanditiis enim
          reprehenderit odit labore laboriosam, consequuntur ad nesciunt illum
          soluta dolore quod deserunt? Officia quo sit non, id asperiores dicta
          repudiandae totam architecto in maxime ut quisquam. Rerum corrupti
          assumenda, maiores sint recusandae optio quasi veniam exercitationem
          nam minima laboriosam consectetur possimus totam nobis excepturi
          numquam accusamus laudantium illum commodi autem deserunt dolorem eum
          ullam. Fugit, non.
        </p>
      </div>
    </div>
  </div>
</section>
