<section class="information-section" id="informationSection">
  <div class="mb-lg-16 mb-10">
    <div class="container">
      <div class="section__row section__row--reverse">
        <div class="section-sm">
          <div class="section-img">
            <img
              loading="lazy"
              width="604"
              height="725"
              srcset="images/content/info-1.png 320w"
              alt="info"
            />
          </div>
        </div>
        <div class="section-md">
          <div class="subtitle">informace</div>
          <div class="o-content">
            <h3>CO BY ZNAMENALO sportovně-TRÉNINKOVÉ CENTRUM?</h3>
            <p>
              Sportovně-tréninkové centrum SK Slavia Praha by byl moderní areál
              určený pro každodenní sportovní přípravu mládeže a profesionálních
              týmů klubu. Jeho hlavním posláním bude vytvořit bezpečné, kvalitní
              a inspirativní prostředí pro růst mladých talentů – dívek i
              chlapců – v duchu hodnot fair play, týmové práce a zdravého
              životního stylu.
            </p>
            <h3>KDO BY AREÁL VYužÍVAL?</h3>
            <p>
              <strong>Mládežnické týmy –</strong> deset chlapeckých a pět
              dívčích týmů, od nejmenších věkových kategorií až po dorost.
              Hlavní náplní centra je právě rozvoj těchto mladých sportovců.
            </p>
            <p>
              <strong>Profesionální týmy –</strong> dva mužské a jeden ženský
              tým, které budou areál využívat výhradně k tréninku (nikoliv k
              utkáním).
            </p>
            <p>
              Při realizaci podobných záměrů i jinde v Evropě se ukazuje, že
              přítomnost profesionálních týmů a tedy přítomnost vzorů má jen
              pozitivní efekty pro výchovu talentovaných hráčů.
            </p>
            <h3>KOLIK TÝMŮ A HŘIŠŤ BY BYLO V PROVOZU?</h3>
            <p>
              Celkový počet plánovaných tréninkových ploch je 11, z nichž v
              jednu chvíli by standardně nebyla využita více než 4 hřiště. Zbylá
              plocha slouží k regeneraci, údržbě nebo by sloužila k volnočasovým
              účelům pro veřejnost. Areál by byl pro trénink družstev otevřen od
              9:00 do 19:00, bez večerního provozu a bez světelného smogu.
              Večerní klid zůstane v lokalitě zachován.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="information-section__wrap">
    <div class="container-fluid">
      <div class="section__row section__row--reverse gap-0">
        <div class="section-sm">
          <div class="bg-primary p-lg-16 p-sm-10 px-5 py-8">
            <div class="o-content text-white">
              <h3>PROFESIONÁLNÍ ZÁZEMÍ, ALE ŽÁDNÝ STADION</h3>
              <p>
                V Šeberově by se nehrály žádné soutěžní zápasy profesionálních
                týmů. Ty by i nadále probíhaly v Edenu nebo na venkovních
                hřištích soupeřů. Areál není stadion – je to tréninková
                základna, která má sloužit především přípravě.
              </p>
              <h3>KDO BY SE O DĚTI A SPORTOVCE STARAL?</h3>
              <ul>
                Na místě by pracoval tým zkušených profesionálů:
                <li>Trenéři</li>
                <li>Fyzioterapeuti</li>
                <li>Sportovní lékaři</li>
                <li>Kondiční specialisté</li>
              </ul>
              <p>
                Celkově se předpokládá, že v tréninkovém centru by se rozvíjelo
                a trénovalo přibližně 320 dětí a 70 profesionálních hráček a
                hráčů. Tréninky by probíhaly v postupně rozvržených blocích tak,
                aby nikdy nebyly všechny děti přítomné zároveň. Mládežnické týmy
                navíc netrénují každý den – většina z nich má tréninkový režim
                3-4krát týdně.
              </p>
            </div>
          </div>
        </div>
        <div class="section-md">
          <div class="information-section__img">
            <img
              loading="lazy"
              width="772"
              height="614"
              srcset="images/content/info-2.png 320w"
              alt="info"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
