<nav class="navigation">
  <div class="container">
    <ul class="navigation-menu js-scroll">
      <li>
        <a class="active" href="#headerSection">úVOD</a>
      </li>
      <li>
        <a href="#purposeSection">účel</a>
      </li>
      <li>
        <a href="#conceptSection">Koncept</a>
      </li>
      <li>
        <a href="#informationSection">info</a>
      </li>
      <li>
        <a href="#educationSection">vzdělávání</a>
      </li>
      <li>
        <a href="#benefitsSection">benefity</a>
      </li>
      <li>
        <a href="#budgetSection">rozpočet</a>
      </li>
      <li>
        <a href="#obligationsSection">závazky</a>
      </li>
    </ul>
  </div>
</nav>
