<section class="obligations-section" id="obligationsSection">
  <div class="container">
    <h4 class="h1 text-primary mb-xl-16 mb-lg-12 mb-8">
      VEŘEJNÉ ZÁVAZKY INVESTORA
    </h4>
    <div class="obligations-section__inner">
      <div class="obligationItem">
        <span class="obligationItem__number">01</span>
        <p>
          Náš projekt žádným způsobem nepoškodí ani neohrozí unikátní Hrnčířské
          louky. V případě, že by průzkumy, které jsme zadali, prokázaly, že by
          projekt nebylo možné realizovat bez poškození této přírodní památky,
          nebudeme ho realizovat.
        </p>
      </div>
      <div class="obligationItem">
        <span class="obligationItem__number">02</span>
        <p>
          Provoz tréninkového centra bude probíhat mezi 9:00 a 19:00, přičemž v
          jeden okamžik nebudou využita více než čtyři hřiště. Abychom
          nepřispívali ke zvýšení dopravní zátěže v době dopravní špičky,
          přizveme ke spolupráci specializovanou dopravně-inženýrskou firmu,
          která nám pomůže s optimalizací provozu.
        </p>
      </div>
      <div class="obligationItem obligationItem--tall">
        <span class="obligationItem__number">03</span>
        <p>
          SK Slavia Praha bude provozovat pravidelnou kyvadlovou linku mezi
          Edenem a Šeberovem, která bude sloužit jako pohodlný a ekologický
          způsob dopravy pro děti docházející na tréninky. Budeme zároveň děti i
          rodiče motivovat k tomu, aby tuto dopravu co nejvíce využívali a
          minimalizovali tak individuální dopravu do areálu. Kapacita
          parkovacích míst v návrhu je nastavena nad požadavky příslušných
          právních předpisů, je záměrně naddimenzována – naše tréninkové centrum
          takovou kapacitu rozhodně nevyužije. Jsme totiž připraveni tato místa
          bezplatně poskytnout MČ Šeberov, například pro případy akcí konaných v
          areálu škol, na než tamní současná kapacita nemusí stačit. Parkovací
          kapacita byla vytvořena na základě požadavků zastupitelů MČ Praha –
          Šeberov. Pokud se ukáže, že město tato místa nevyužije, jsme
          připraveni jejich počet snížit.
        </p>
        <p>Jeho podoba bude utvářena ve spolupráci s MČ Praha - Šeberov</p>
      </div>
      <div class="obligationItem">
        <span class="obligationItem__number">04</span>
        <p>
          Tréninkové centrum bude v 85 % své kapacity sloužit pro výchovu
          mladých děvčat a chlapců. Zavazujeme se, že žádné soutěžní zápasy
          dospělých kategorií nebudou v Šeberově pořádány. Organizovat nebudeme
          ani jiné akce, u kterých by se očekával velký počet diváků. Provoz
          bude šetrný k místnímu prostředí a životu v obci
        </p>
      </div>
      <div class="obligationItem">
        <span class="obligationItem__number">05</span>
        <p>
          Naším cílem je partnerské soužití s obcí a chceme MČ Praha – Šeberov
          přinášet skutečnou přidanou hodnotu. Zavazujeme se, že provoz
          tréninkového centra nebude vyžadovat žádné finanční prostředky — ani
          na výstavbu, ani na provoz. Projekt tedy nikdy nezatíží rozpočet MČ
          Praha – Šeberov.
        </p>
      </div>
      <div class="obligationItem obligationItem--big">
        <span class="obligationItem__number">06</span>
        <p>
          Jsme klub s největší fanouškovskou základnou v České republice. Kromě
          tréninkového centra zvažujeme také výstavbu nového stadionu pro
          dospělý A-tým — tento projekt však nijak nesouvisí se
          sportovně-tréninkovým centrem v Šeberově. SK Slavia Praha je klub s
          výrazným přesahem do CSR a ESG aktivit. Výstavba
          sportovně-tréninkového centra bude šetrná. Jeho provoz pak přinese
          konkrétní pozitivní přínosy pro obyvatele Šeberova.
        </p>
      </div>
    </div>
  </div>
</section>
