<section class="purpose-section" id="purposeSection">
  <div class="container">
    <div class="row g-lg-6 g-10 align-items-center ">
      <div class="col-lg-6">
        <div class="o-content">
          <h3>JE NAVRHOVÁNO ZŘÍDIT ZA ÚČELEM:</h3>
          <div class="text-lg-bold mb-6">
            sportování a trénování dětí, mládeže, amatérského a profesionálního
            fotbalu (sport).
          </div>
          <p>
            K dalším sportovním činnostem, včetně ubytovacích kapacit
            mládežnických sportovců a k příležitostným kulturně-společenským
            akcím, kdy centrum bude částečně přístupné veřejnosti a školám
            zřizovaných hl. městem Prahou či městskými částmi, mají-li sídlo na
            území městské části Praha – Šeberov, pro potřeby školních aktivit.
          </p>
          <p>
            Může tak vzniknout unikátní sportovní, vzdělávací, společenský a
            komunitní projekt SK Slavia Praha na území MČ Praha – Šeberov.
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="purpose-section__logos">
          <img
            loading="lazy"
            width="136"
            height="136"
            srcset="images/content/purpose-logo-1.png 320w"
            alt="purpose"
          />
          <img
            loading="lazy"
            width="125"
            height="136"
            srcset="images/content/purpose-logo-2.png 320w"
            alt="purpose"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="purpose-section__map">
      <img src="images/content/purpose-map.png" alt="" />
    </div>
  </div>
</section>
