<footer class="footer">
  <div class="container">
    <div
      class="d-flex flex-md-row text-center flex-column justify-content-between gap-10 align-items-center pb-10"
    >
      <div class="text-secondary-xl text-white">
        sportovně-tréninkové centrum šeberov
      </div>
      <a href="#" class="footer-logo">
        <img
          srcset="images/content/footer-logo.png"
          width="146"
          height="42"
          alt="logo"
        />
      </a>
    </div>
  </div>
</footer>
