<section class="benefits-section" id="benefitsSection">
  <div class="container">
    <h3 class="h1 text-primary mb-xl-16 mb-lg-12 mb-8">benefity</h3>
    <ul class="benefits-section__list">
      <li>
        <div class="text-secondary h5 mb-6">01</div>
        <div class="text-primary h3">
          Založení a provozování mládežnického týmu Šeberov-
        </div>
      </li>
      <li>
        <div class="text-secondary h5 mb-6">02</div>
        <div class="text-primary h3">Společné komunitní akce a projekty</div>
      </li>
      <li>
        <div class="text-secondary h5 mb-6">03</div>
        <div class="text-primary h3 mb-4">
          Nový volnočasový park o rozloze 40 000 m2
        </div>
        <p>Jeho podoba bude utvářena ve spolupráci s MČ Praha - Šeberov</p>
      </li>
      <li>
        <div class="text-secondary h5 mb-6">04</div>
        <div class="text-primary h3">Nová kavárna / restaurace v prostoru</div>
      </li>
      <li>
        <div class="text-secondary h5 mb-6">05</div>
        <div class="text-primary h3">
          Lepší a bezpečnější obecní infrastruktura pro pěší i cyklisty
        </div>
      </li>
      <li>
        <div class="text-secondary h5 mb-6">06</div>
        <div class="text-primary h3">Kultivace ochranného pásma pod VVN</div>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="benefits-section__img">
      <img src="images/content/budget-img.png" alt="" />
    </div>
  </div>
</section>
