@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("../fonts/Inter-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Slavia Condensed";
  src: url("../fonts/Slavia_Condensed_Bold.woff2") format("woff2"),
    url("../fonts/Slavia_Condensed_Bold.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
