:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #d7343e;
  --color-text-secondary: #cbcbcb;
  --color-img-text: #828282;

  --font-secondary: "Slavia Condensed";
  --font-primary: "Inter";
}
